<div class="container">
<div class="row">
  <div class="col-md-2">
    <!--Dont Forget to Change URL to home page-->
    <%= link_to"<button class = 'btn btn-default'>Regresar a Menu</button>".html_safe, url: "/PrintAdmin"%>
  </div>
  <div class="col-md-10">
  <div class="col-md-12">
      <button type="button " name="disM" class="btn  btn-default" id="DishableModule" >Deshabilitar Modulo de Impresion</button>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Filtros de Impresiones</h3>
  </div>
</div>
  <div class="row">
    <!--<button type="button" name="button" class="btn" id="AddFilter" >+</button>-->
    <%= search_form_for(@Prints, url: "/PrintAdmin", method: :get) do |f| %>
    <div class="col-md-2">
      <select class="form-control" id ="filterType">
        <option value="select">Selecione...</option>
        <option value="typeofpayment">Tipo de Pago</option>
        <option value="date">Fecha</option>
        <option value="dates">Rango de Fechas</option>
        <option value="ghost">Fantasmas</option>
        <option value="all">Todas las Opciones</option>
      </select>
    </div>
    <div class="col-md-8">
      <div class="col-md-5" id="ID_container">
        <%= f.text_field :state_cont, size: "30", placeholder: 'Tipo de Pago'%>

      </div>
      <div class="col-md-5" id="FirstDate_container">
        <%= f.date_field_tag :dateOrder_gteq, size:"4", placeholder: "Fecha Inicial" %>

      </div>
      <div class="col-md-5" id="LastDate_container">
        <%= f.date_field_tag :dateOrder_lteq, size:"4", placeholder: "Fecha Final" %>
      </div>


    </div>

    <div class="col-md-2" id="Filtra_container">
      <%= f.submit "Buscar" %>
    </div>
      <% end%>
  </div>

</div>
<hr>
<div class="">
  <table>
    <thead>
      <tr>
        <th><%= sort_link(@Prints, :dateOrder, "Dia de Orden") %></th>
  			<th><%= sort_link(@Prints, :state, "Estado") %></th>
  			<th><%= sort_link(@Prints, :typeOrder, "Typo de Orden") %></th>
  			<th><%= sort_link(@Prints, :idMount, "Monto") %></th>
      </tr>
    </thead>
    <tbody>
      <% @Results.each do |i|%>
        <tr>
          <td>
            <%= i.dateOrder%>
          </td>
          <td>
            <%= i.state%>
          </td>
          <td>
            <%= i.typeOrder%>
          </td>
          <td>
            <%= i.idMount%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
  <div class="container">
    <div class="row">
      <%= link_to"<button class = 'btn btn-default'>PDF</button>".html_safe, url: "/PrintAdmin"%>
      <%= link_to"<button class = 'btn btn-default'>WORD</button>".html_safe, url: "/PrintAdmin"%>
      <%= link_to"<button class = 'btn btn-default'>EXCEL</button>".html_safe, url: "/PrintAdmin"%>

    </div>
  </div>
</div>
