<div class="login">
  <h1>Morralla Virtual</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, placeholder:"Email", autofocus: true, class:"inputs" %>
      <%= f.password_field :password, placeholder:"Password", autocomplete: "off", class:"inputs" %>
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me, class:"check-next" %>
        <%= f.label :remember_me, class:"check-next" %>
      <% end -%>
      <%= link_to "Create new account", new_user_registration_path, class:"register-me" %>
      <%= f.submit "let me in", class:"btn btn-primary btn-block btn-large" %>
    <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
<%= render "devise/shared/links" %>


